@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/*  
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; }
.window-resizing *, body:not(.page-loaded) *{transition: none!important; }
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body { font-size: 16px; line-height: 22px; font-family: 'Poppins', sans-serif; -ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased;}
.wrapper { min-height: 100vh; }
a { color: #000; text-decoration: none; }
a:hover { color: #999; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2em; padding: 0 0 20px; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 { font-size: 65px;}
h2 { font-size: 40px;}
h3 { font-size: 30px;}
h4 { font-size: 20px; }
h5 { font-size: 18px;}
h6 { font-size: 15px;}
// p { padding: 0 0 20px; }
input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
:-ms-input-placeholder { color: #000; }
:-moz-placeholder { color: #000; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }

/* Login page
--------------------------------------------------------------------------------------------------------*/
/* Header
--------------------------------------------------------------------------------------------------------*/
.main{ background-image: url('../images/bg-image.jpg'); padding: 0 80px ;min-height: 100vh; background-size: cover; background-position: center; background-repeat: no-repeat;}
.header{padding-top: 80px;}


/* Main Content
--------------------------------------------------------------------------------------------------------*/
.container-fluid{
    align-items: center;
    padding-top: 120px;
    // min-height: 100vh;
}
.text-content{color:#fff;padding-top:100px;
        h1 { font-weight: 300;
            strong{font-weight: 700;
            }
        }
        .lorem{size: 22px;font-weight: 400;
        } 
}
.login-box{
    padding: 36px 42px;
    border-radius: 5px;
    
}
.login-content{width: 100%;}

@mixin repeat{
    top: 15px;
    background-color: #fff;
    color: #A5A5A5;
    padding: 0 5px;
    left: 5px;
    height: fit-content;
    width: fit-content;
}
.welcome{
    font-weight: 600;
}

.focus-label{
    color: $input-placeholder-color;
}
.form-floating {
>label { 
    @include repeat;
}

}

.btn-login{
    padding:10px 30px;
    background-color: $primary;
    border-radius: 5px;
}
.login-space{>.fp a{color:#A5A5A5;}}
.signup h6{
    color: #A5A5A5;
}

/* Footer
--------------------------------------------------------------------------------------------------------*/
.copyright{justify-content: flex-end; padding-top: 130px;}
.copyright a{padding-right: 15px; color: #ffffff;}


/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.global{width: 100%;}
.sidebar{min-width: 246px;min-height: 100vh;flex-basis: 246px;overflow-y: auto;top: 0px;bottom: 0;margin-left: 0px;transition: all 0.2s ease;visibility: visible;
}
.sidebar-open .sidebar {
    flex-shrink: 1;
    margin-left: -246px;
}

.logo{padding-top: 30px; padding-left: 30px;}
.sidelinks{padding-top: 60px; padding-left: 20px; 
        ul {
            .active {
                background-color:#F9FFFF; color: $primary;  border-radius: 20px;transform: matrix(1, 0, 0, 1, 0, 0);left: 20px;top: 55px;
                .default{display: none;}
                .icon-active{padding-right: 10px;  }
        }
            li{margin: 10px 0; color: #ffffff;  
                .nav-link{ padding:10px; align-items:center; border-radius:20px;
                    .default{padding-right: 10px;}
                    // .icon-active{display: none;}
            }
            .nav-link:hover, .nav-link:active, .nav-link:focus{ background-color: #F9FFFF; color:$primary; border-radius: 20px;text-decoration: none;
                .icon-active{padding-right:10px;}
                .default{display:none;}
            }
        }
            
        }
}

// right-content
// ---------------------------------------------------------------------------------------------------------------

.right-content{width:100%;}

.navbar{background-color:#FFFFFF;height: 70px;width: 100%; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05); display: flex;align-items: center;z-index: 1;
    .btn-menu {background-color: #ffffff;border: none;margin-left: 10px;padding: 8px;
        .btn-menu:focus {background-color: #f1f1f1;border-radius: 5px}
        img {width: 24px;height: 24px;display: block;}
    }
    .search-bar {position: relative;margin-left: 30px;
        .form-control {border: 1px solid transparent;color: #000;color:$input-placeholder-color ;background: url("../images/search-icon.svg") no-repeat;background-position: 12px center;width: 360px;font-size: 14px;line-height: 23px;padding: 12px 16px 12px 48px;}
        .btn-close-search {display: none;
            .btn-close-search:focus{box-shadow: none;}
        } 
        .form-control:hover,.form-control:focus,.form-control:active {border: 1px solid #ADADAD !important;transition: all 0.2s ease;}
        
    }
    .btn-search{display: none; margin-right: 25px;padding: 10px;}
        .btn-search:hover,.btn-search:focus,.btn-menu:hover{background-color: #f1f1f1;border-radius: 5px;color: #505050;}
    

    .dropdown {margin-left: auto;margin-right: 25px;
        // .dropdown:last-child {margin-left: 0;}
        .dropdown-toggle::after {display: block;border: 0;margin: 0;}
        .dropdown-toggle {background: #ffffff;border: 1px solid transparent;padding: 0px;
            .notification {display: block;height: 26px;width: 26px;margin: 6px;}}
        .dropdown-toggle:hover,.dropdown-toggle:focus,.dropdown-toggle:active {background-color: #f1f1f1;border-radius: 5px}
        
    
        .dropdown-menu{box-shadow: 0px 0px 14px 0px #00000012;padding: 10px;font-size: 15px;line-height: 18px;color: #3E3E3E;font-weight: 400;min-width: 140px;
            .dropdown-item {padding: 10px;color: #3E3E3E;}
            .dropdown-item:hover,.navbar .dropdown-item:focus,.navbar .dropdown-item:active {background-color: #f1f1f1;border-radius: 5px;color: #505050;
        }
    }
        .profile {display:flex;align-items:center; padding: 4px 10px;
            span {padding: 11px;font-size: 16px;line-height: 18px;color: #000000;}
    }
}
.dropdown:last-child {margin-left: 0;}
}


























/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1399px) { }
@media (max-width:1199px) {
    .text-content > h1{font-size: 50px;}


 }
@media (max-width:991px) { 
    .container-fluid{padding-top: 0;}
    .text-content{padding-top: 0; >h1{font-size: 35px;}}
    .login-box{margin-top: 20px;}
    .login-content>h4{justify-content: center; display: flex;}
    .welcome, .header {justify-content: center;}
    .copyright{padding-top: 50px;}

    .sidebar {
        position: fixed;
        margin-left: -246px;
        z-index: 30;
    }
    .overlay {
        position: fixed;
        transition: all 0.2s ease;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 29;
        visibility: hidden;
        background: rgba(0, 0, 0, 0.4);
        display: block;
        opacity: 0;
        right: 0;
    }
    .sidebar-open .overlay {
        visibility: visible;
        opacity: 1;
    }

    .sidebar-open .sidebar {
        margin-left: 0;
    }

    body.sidebar-open {
        overflow: hidden;
    }
    .search-bar {
        margin-left: 40px;
    }

    .search-bar .form-control {
        width: 230px;
    }
    .right-content{width:100vw;}
}
@media screen and (max-width:767px) {
    .header, .copyright {justify-content: center;}
    .login-box{padding: 20px 15px;}
    .main{padding: 0 50px;}
    .welcome{font-size: 25px;}

    .btn-search {
        display: block;
    }
    .search-open .navbar .search-bar {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0;
        padding: 16px 50px;
        z-index: 1;
        background-color: #ffffff;
        transition: all 0.2s ease;
        margin-left: 0px;
    }
    .search-open .navbar .form-control {
        width: 100%;
        display: block;
        border: 1px solid #ADADAD;
    }

    .search-open .navbar .btn-close-search {
        position: absolute;
        top: 28px;
        right: 60px;
        display: block;
        transition: all 0.2s ease;
    }

    .btn-close-search img {
        width: 15px;
        height: 15px;
        display: block;
    }
    .search-open .navbar .search-bar {
        padding: 16px;
    }

    .search-open .navbar .btn-close-search {
        right: 30px;
    }
    .profile span,
    .profile .ic-down {
        display: none;
    }
 }
@media (max-width:575px) { 
    .main{padding: 0 20px; }
    .login-box{height: 600px;}
    .container-fluid{padding-top: 30px;}
    .text-content{display: none; > h1{font-size: 30px; }}

    .navbar .dropdown, .btn-search{margin-right: 0; margin-left: 0;}
}











